In [2]:
import pandas as pd
from sqlalchemy import create_engine

### Store CSV into DataFrame

In [15]:
csv_file = "Resources/netflix_titles.csv"
netflix_df = pd.read_csv(csv_file)
netflix_df = netflix_df.loc[netflix_df['type'] == 'Movie']

show_id         4265
type            4265
title           4265
director        4137
cast            3905
country         4070
date_added      4264
release_year    4265
rating          4257
duration        4265
listed_in       4265
description     4265
dtype: int64

### Create new data with select columns

In [14]:
new_netflix_df = netflix[['title', 'country', 'release_year', 'rating']].copy()
new_netflix_df.head()

,title,country,release_year,rating
0,Norm of the North: King Sized Adventure,"United States, India, South Korea, China",2019,TV-PG
1,Jandino: Whatever it Takes,United Kingdom,2016,TV-MA
4,#realityhigh,United States,2017,TV-14
6,Automata,"Bulgaria, United States, Spain, Canada",2014,R
7,Fabrizio Copano: Solo pienso en mi,Chile,2017,TV-MA